* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MENU */

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2%;
    z-index: 1000;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.logo h1 {
    font-size: 35px;
}

.logotxt {
    padding-left: 10px;
}

.no-background-txt-black {
    -webkit-text-stroke: 1px white;
    color: black;
}

.no-background-txt {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.background-txt {
    color: white;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 500px;

}

.menu li a {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.3px white;
    font-size: 30px;
}

.menu li a:hover {
    text-decoration: none;
    color: white;
}

@media all and (max-width: 850px) {
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none !important;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block !important;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        background: #000;
        flex-direction: column;
        padding: 3rem;
        justify-content: space-around;
        transform: translateY(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateY(0);
    }
}

/* Section HOME */

#home {
    display: flex;
    height: 100vh;
    background-color: #282828;
    background-image: url("../assets/fonddev1.png");
}

.home {
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home img {
    width: 100%;
}

.img-fullstack-dev {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img-fullstack-dev img {
    width: 600px;
}

.name {
    font-size: 70px;
}

#typingmoins {
    display: none;
}

#typingplus {
    display: block;
}

@media screen and (max-width: 1446px) {
    .img-fullstack-dev img {
        width: 400px;
    }
    .img-fullstack-dev {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name {
        font-size: 70px;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .name {
        font-size: 50px;
    }
}

@media screen and (min-width: 1446px) {
    .img-fullstack-dev {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name {
        font-size: 90px;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-top: 40px;;
    }
}

@media screen and (max-width: 800px) {
    .home {
        height: 86%;
        margin-top: 7%;
        margin-bottom: 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .img-fullstack-dev img {
        width: 300px;
        margin-top: 30px;
    }
    .name {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 639px) {
    .name {
        width: 100%;
        height: 50%;
        float: top;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin-left: 0;
    }
    .img-fullstack-dev {
        width: 100%;
        height: 50%;
        float: bottom;
        display: flex;
        justify-content: center;
    }
    #typingmoins {
        display: block;
        justify-content: center;
    }
    #typingplus {
        display: none;
    }
}

/* Section ABOUT */

#about {
    display: inline-block;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-color: #CBCBCB;
}

.about-left {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pdp {
    width: 400px;
    height: 400px;
}

.about-right p {
    text-align: justify;
    margin-right: 200px;
    font-size: 20px;
}

.media-link {
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
}

.media-link img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1446px) {
    .about-right p {
        margin-right: 130px;
    }
    .media-link {
        margin-right: 130px;
    }
}

@media screen and (max-width: 1000px) {
    .about-right p {
        margin-right: 90px;
    }
    .media-link {
        margin-right: 90px;
    }
    #pdp {
        width: 300px;
        height: 300px;
    }
    .media-link img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 800px) {
    .about-left {
        width: 100%;
        height: 45%;
        margin-bottom: -70px;
    }
    .about-right {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-right p {
        margin-right: 5%;
        margin-left: 5%;
        justify-content: center;
        font-size: 18px;
    }
    .media-link {
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        display: flex;
        justify-content: space-around;
    }
    #pdp {
        width: 200px;
        height: 200px;
    }
    .media-link img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 711px) {
    .about-left {
        width: 100%;
        height: 25%;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .about-right {
        width: 100%;
        height: 70%;
        float: bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-right p {
        margin-top: 0;
    }
    #pdp {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 568px) {
    .about-left {
        height: 25%;
        margin-top: 40px;
    }
    .about-right p {
        margin-top: 0;
        font-size: 16px;
    }
    #pdp {
        width: 100px;
        height: 100px;
    }
    .media-link img {
        width: 50px;
        height: 50px;
    }
}

/* Section PORTFOLIO */

#portfolio {
    height: 83vh;
    width: 100%;
    background-color: #282828;
    display: flex;
}

#portfolio2 {
    height: 70vh;
    width: 100%;
    background-color: #282828;
    display: flex;
}

.pf-titre {
    color: white;
}

.pf-img {
    width: 500px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
}

.pf-texte {
    color: white;
    margin-top: 10px;
    text-align: justify;
    width: 500px;
}

.scaryshopfr {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 5%;
}

.mathieulpfr {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 5%;
}

.mmiple {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 5%;
}

.portfoliofr {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 5%;
}

@media screen and (max-width: 1050px) {
    .pf-img {
        width: 300px;
    }

    .pf-texte {
        width: 300px;
    }
    #portfolio {
        height: 140vh;
        width: 100%;
        background-color: #282828;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .scaryshopfr {
        margin: 0;
    }
    #portfolio2 {
        height: 140vh;
        width: 100%;
        background-color: #282828;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -180px;
    }
    .mmiple {
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .pf-img {
        width: 300px;
    }

    .pf-texte {
        width: 300px;
    }
    #portfolio2 {
        height: 120vh;
    }
    #portfolio {
        height: 120vh;
    }
}

@media screen and (max-width: 450px) {
    #portfolio {
        height: 120vh;
    }
    #portfolio2 {
        height: 120vh;
        margin-top: -150px;
    }
    .pf-img {
        width: 200px;
    }

    .pf-texte {
        width: 250px;
    }
}

/* Section CONTACT */

#contact {
    height: 100vh;
    width: 100%;
    background-color: #CBCBCB;
}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
}

.container h2 {
    width: 100%;
    color: #282828;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #282828;
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #FFFFFF;
}

.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #282828;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
    height: 100%;
}

.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
    height: 100%;
}

input[type=submit] {
    border: none !important;
    padding: 7px 35px !important;
    cursor: pointer !important;
    outline: none !important;
    background: #282828 !important;
    color: #FFF !important;
    font-size: 18px !important;
    border-radius: 2px !important;
}

@media screen and (max-width: 440px) {
    .container {
        width: 100%;
        margin-right: 20px;
    }
}

/* FOOTER */

footer {
    background-color: #282828;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: white;
}

footer img {
    width: 20px;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -8px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -8px;
}

footer a {
    color: white;
    text-decoration: none;
}

.ft-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ft-link img {
    margin-top: 3px;
}

@media screen and (max-width: 670px) {
    footer h2 {
        font-size: 20px;
    }
    footer a {
        font-size: 16px;
    }
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    footer h2 {
        font-size: 17px;
    }
    footer a {
        font-size: 13px;
    }
}